@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Press+Start+2P);
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 50, social-icons/*.png */
.social-icons-sprite, .social-icons-facebook, .social-icons-twitter {
  background: url('../../images/dev/social-icons-s50537832e6.png') no-repeat;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-facebook {
  background-position: 0 -37px;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-twitter {
  background-position: 0 0;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: 0px;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #root_footer {
  height: 0px;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 0px;
}

/* Mixins */
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* line 64, ../../scss/style.scss */
html, body {
  height: 100%;
}

/* line 70, ../../scss/style.scss */
#container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 5px 5px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: lightblue;
}

/* Global Reset */
/* line 80, ../../scss/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 85, ../../scss/style.scss */
html, body {
  height: 100%;
}

/* line 87, ../../scss/style.scss */
body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
}

/* line 92, ../../scss/style.scss */
a {
  text-decoration: none;
}

/* line 96, ../../scss/style.scss */
a:active, a:hover, a:visited {
  color: #446aa8;
}

/* line 103, ../../scss/style.scss */
.header .social li {
  float: left;
  padding-right: 10px;
}
/* line 106, ../../scss/style.scss */
.header .social li a.social-icons-facebook {
  display: inline-block;
  height: 37px;
  width: 37px;
}
/* line 111, ../../scss/style.scss */
.header .social li a.social-icons-twitter {
  display: inline-block;
  height: 37px;
  width: 37px;
}
/* line 116, ../../scss/style.scss */
.header .social li span {
  display: none;
}
/* line 120, ../../scss/style.scss */
.header .social li:last-child {
  float: right;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0 0px;
}
/* line 129, ../../scss/style.scss */
.header .logo {
  height: auto;
  text-align: center;
  display: inline-block;
}

/* line 141, ../../scss/style.scss */
section h1 {
  display: inline-block;
  font-size: 35px;
}
/* line 144, ../../scss/style.scss */
section h1.amp {
  font-size: 30px;
  vertical-align: top;
}

/* line 151, ../../scss/style.scss */
nav a {
  font-size: 20px;
}

/* line 155, ../../scss/style.scss */
.arrow_box {
  position: relative;
  background: #ff3300;
}

/* line 159, ../../scss/style.scss */
.arrow_box:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 169, ../../scss/style.scss */
.arrow_box:after {
  border-color: rgba(255, 51, 0, 0);
  border-top-color: #ff3300;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}

/* line 177, ../../scss/style.scss */
.map-bar {
  width: 275px;
  margin: 5px 0 20px;
  padding: 8px 0;
}

/* line 183, ../../scss/style.scss */
.directions {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}
/* line 187, ../../scss/style.scss */
.directions a, .directions a:visited, .directions a:active {
  color: #fff;
}
/* line 190, ../../scss/style.scss */
.directions a:hover {
  color: black !important;
}

/* line 195, ../../scss/style.scss */
#footer {
  text-align: center;
}
/* line 198, ../../scss/style.scss */
#footer .contact {
  font-size: 10px;
}

/* line 203, ../../scss/style.scss */
.clear {
  overflow: hidden;
  clear: both;
}
