//////////////////////////////
// Set legacy support
//
// If you need support for IE6 or IE7, you should install the Box Sizing polyfill.
// In your project's folder from the command line, type the following:
// compass install singularitygs/box-sizing
//////////////////////////////
$legacy-support-for-ie6:     false;
$legacy-support-for-ie7:     false;
$legacy-support-for-mozilla: false;

//////////////////////////////
// Import Base
//////////////////////////////
@import "compass/reset";
@import "singularitygs";
@import "compass/css3";
@import "compass/utilities";
@import "compass/layout/sticky-footer"; 

// fonts.google

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Press+Start+2P);

// sprites
@import "social-icons/*.png";
@include all-social-icons-sprites;
$sprite-pad: 0px;
$height: social-icons-sprite-height(facebook);
$width: social-icons-sprite-width(facebook);
$height: social-icons-sprite-height(twitter);
$width: social-icons-sprite-width(twitter);

// stticky footer
@include sticky-footer(0px, "#container", "#root_footer", "#footer");

// Gridatious

$background-grid-color: pink;

$grids: 2 1;

$grids: add-grid(1 at 320px);
$grids: add-grid(2 1 at 421px);
//$grids: add-grid(2 8 2 at 900px);
//$grids: add-grid(1 3 5 7 9 at 1100px);

//$grids: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
$gutters: .125;

$rule1: 2px solid #707070;
$rule2: 2px solid #707070;

//$social-icons: sprite-map("social-icons/*.png");

@import "_mixin.scss";

// Color

$main: rgb(68, 106, 168);

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html, body { height: 100%; }

body {
	//@include background-grid;
}

#container {
	@include border-radius(10px);
	margin: 5px 5px;
	border: 1px solid rgb(0, 0, 0);
	padding: 10px;
	text-align: center;
	background-color: lightblue;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

a:link, a:active, a:hover, a:visited {
	color: #446aa8;
}

.header {

	.social {
		z-index: 100;
		li {
			float: left;
			margin-right: 5px;
			a.social-icons-facebook {
				display: inline-block;
				height:$height + $sprite-pad;
				width:$width + $sprite-pad;			
			}
			&.pipe { 
				background-color: rgba(68, 106, 168, .5); 
				width: 3px; 
				height: 35px; 
				margin: 0 10px 0 0; 
			}
			a.social-icons-twitter {
				display: inline-block;
				height:$height + $sprite-pad;
				width:$width + $sprite-pad;			
			}
			span {
				display: none;
			}
			&.tel-top {
				font-weight: 700;
				button {
					width: 100%;
					background-color: $main;
					color: white;
					font-size: 10px;
					font-weight: 700;
					letter-spacing: 3px;
					text-align: center;
					padding: 2px 0px;
					border: none;
				}
			}
		}
		li:last-child {
			float: right;
			padding: 0px;
			margin: 0px;
			
		}
	}
	
	.logo {
		height: auto;
		text-align: center;
		display: inline-block;
		margin-top: -20px;
	}

	.logo img {
	}
	
}

section {
	h1 {
		display: inline-block;
		font-size: 35px;
		color: $main;
		&.amp {
			font-size: 30px;
			vertical-align: top;
		}
	}
	.subscribe {
		display: inline-block;
		margin: 5px 0;
		fieldset {
			border: 2px solid #707070;
			border-radius: 5px;
			padding: 10px;
			margin: 0;
		}
		legend {
			color: #707070;
			font-weight: 700;
			text-align: left;
			padding: 0 3px;
		}
	}
}

nav a {
	font-size: 20px;	
}

.arrow_box {
	position: relative;
	background: $main;
}
.arrow_box:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 51, 0, 0);
	border-top-color: $main;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.map-bar {
	width: 275px;
	margin: 5px 0 20px;
	padding: 5px 0;
}

.directions {
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	a, a:visited, a:active	  {
		color: #fff;
	}
	a:hover {
		color: #000!important;
	}
}

#footer {
	text-align: center;
	//border-top: $rule2;
	.contact {
		font-size: 10px;
	}
}

.clear {
	@include clearfix;
	clear: both;
	
}

// Breakpoints

@include breakpoint(300px) {
	//@include grid-span(1,1);
	.pipe {
		display: none;
	}
}
