<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="standup, sup, paddle boards, kayak, sales and rentals">
		<meta name="keywords" content="paddleboards, paddle boards, Athens, NY, kayaks, bicycles">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/dev/style.css"> <!-{{ site.baseurl }}->

    </head>
    <body>

	<div id="container">
		<div class="header">
			<div class="social">
				<ul>
					<li><a href="https://www.facebook.com/PaddleHeadBoards?fref=ts" title="Facebook" class="social-icons-facebook"><span>Fb</span></a></li> 
					<!--li><a href="#" title="Twitter" class="social-icons-twitter"><span>Twitter</span></a></li-->
					<li class="tel">(518) 755-4502</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="logo">
				<a href="#"><img src="{{ site.url }}/images/PaddleHead-logo-1.png" width="280" height="" alt="{{ site.name }}"></a><!--h1 class="title">{{ site.name }}</h1-->
				</div>
            </div><!-- endheader -->

                {{ content }}
			
			<section>
				
			<h1 class="tk-armalite-rifle sales"> <a href="#">SALES</a></h1> <h1 class="tk-armalite-rifle">/</h1> <!--h1 class="amp">&amp;</h1-->	<h1 class="tk-armalite-rifle rentals"> <a href="#">RENTALS</a></h1>
			
			</section>
           
			<nav><a class="" href="#">Paddleboards</a> <a class="" href="#">Kayaks</a> <a class="" href="#">Bicycles</a></nav>

			<section>
				<h1 class="map-bar directions arrow_box"><a href="#location">one convenient location</a></h1>
			</section>
			
			<div class="map" id="location">
				<iframe width="275" height="275" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=13+North+Water+Street,+Athens,+NY&amp;aq=&amp;sll=42.261271,-73.806903&amp;sspn=0.009878,0.016072&amp;ie=UTF8&amp;hq=&amp;hnear=13+N+Water+St,+Athens,+New+York+12015&amp;t=m&amp;ll=42.26124,-73.806925&amp;spn=0.017532,0.023518&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=13+North+Water+Street,+Athens,+NY&amp;aq=&amp;sll=42.261271,-73.806903&amp;sspn=0.009878,0.016072&amp;ie=UTF8&amp;hq=&amp;hnear=13+N+Water+St,+Athens,+New+York+12015&amp;t=m&amp;ll=42.26124,-73.806925&amp;spn=0.017532,0.023518&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>

			<div id="root_footer"></div>
		
		</div> <!-- /endcontainer -->
 			
		<div id="footer">
			<div class="contact">
				13 Water Street, Athens, NY 12015 (518) 755-4502 <br>paddleheadboards at gmail dot com 
			</div>
		</div>
		<script type="text/javascript" src="//use.typekit.net/mhk4lrr.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </body>
</html>
